[submodule "vim/autoload"]
	path = vim/autoload
	url = https://github.com/junegunn/vim-plug.git
[submodule "vim/pack/vim-pack-go/opt/go-coverage"]
	path = vim/pack/vim-pack-go/opt/go-coverage
	url = https://github.com/kyoh86/vim-go-coverage
[submodule "vim/pack/vim-pack-go/opt/go-imports"]
	path = vim/pack/vim-pack-go/opt/go-imports
	url = https://github.com/mattn/vim-goimports
[submodule "nvim/pack/personal/opt/momiji"]
	path = nvim/pack/personal/opt/momiji
	url = https://github.com/kyoh86/momiji
[submodule "nvim/pack/personal/opt/telescope.nvim"]
	path = nvim/pack/personal/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/pack/personal/opt/popup.nvim"]
	path = nvim/pack/personal/opt/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "nvim/pack/personal/opt/plenary.nvim"]
	path = nvim/pack/personal/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/pack/personal/opt/galaxyline.nvim"]
	path = nvim/pack/personal/opt/galaxyline.nvim
	url = https://github.com/glepnir/galaxyline.nvim
[submodule "nvim/pack/personal/opt/nvim-web-devicons"]
	path = nvim/pack/personal/opt/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "nvim/pack/personal/opt/gitgutter"]
	path = nvim/pack/personal/opt/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "nvim/nvim/pack/personal/opt/gitsigns.nvim"]
	path = nvim/pack/personal/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim/pack/personal/opt/nvim-lspconfig"]
	path = nvim/pack/personal/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/pack/personal/opt/vim-ripgrep"]
	path = nvim/pack/personal/opt/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule "nvim/pack/personal/opt/vim-textobj-line"]
	path = nvim/pack/personal/opt/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line
[submodule "nvim/pack/personal/opt/vim-operator-user"]
	path = nvim/pack/personal/opt/vim-operator-user
	url = https://github.com/kana/vim-operator-user
[submodule "nvim/pack/personal/opt/vim-textobj-entire"]
	path = nvim/pack/personal/opt/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire
[submodule "nvim/pack/personal/opt/vim-textobj-user"]
	path = nvim/pack/personal/opt/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "nvim/pack/personal/opt/vim-operator-replace"]
	path = nvim/pack/personal/opt/vim-operator-replace
	url = https://github.com/kana/vim-operator-replace
[submodule "nvim/pack/personal/opt/vim-textobj-parameter"]
	path = nvim/pack/personal/opt/vim-textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter
[submodule "nvim/pack/personal/opt/vim-operator-jump_side"]
	path = nvim/pack/personal/opt/vim-operator-jump_side
	url = https://github.com/osyo-manga/vim-operator-jump_side
[submodule "nvim/pack/personal/opt/winresizer"]
	path = nvim/pack/personal/opt/winresizer
	url = https://github.com/simeji/winresizer
[submodule "nvim/pack/personal/opt/vim-sandwich"]
	path = nvim/pack/personal/opt/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "nvim/pack/personal/opt/vim-quickrun"]
	path = nvim/pack/personal/opt/vim-quickrun
	url = https://github.com/thinca/vim-quickrun
[submodule "nvim/pack/personal/opt/readablefold.vim"]
	path = nvim/pack/personal/opt/readablefold.vim
	url = https://github.com/lambdalisue/readablefold.vim
[submodule "nvim/pack/personal/opt/vim-swap"]
	path = nvim/pack/personal/opt/vim-swap
	url = https://github.com/machakann/vim-swap
[submodule "nvim/pack/personal/opt/vim-devicons"]
	path = nvim/pack/personal/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "nvim/pack/personal/opt/sudo.vim"]
	path = nvim/pack/personal/opt/sudo.vim
	url = https://github.com/vim-scripts/sudo.vim
