/*
!/24-bit-color.sh
!/README.md
!/alacritty
!/autostart
!/efm-langserver
!/flake8
!/fonts
!/git
!/gocode
!/gogh
!/gometalinter
!/googleinput
!/homebrew
!/lazyenv
!/locale.conf
!/lxqt
!/openbox
!/plist
!/pycodestyle
!/pyenv
!/ripgrep
!/setup
!/setup_*
!/tig
!/userjob
!/vim
!/vm-sierra
!/zsh
!requirements.txt
!/.gitignore
!/.richstyle
*.log
