/*
!/.gitignore
!/.richstyle
!/24-bit-color.sh
!/README.md
!/flake8
!/pycodestyle
!/setup
!/Myrica*
!/lazyenv

!/deject
!/alacritty
!/fonts
!/git
!/bash
!/gocode
!/gometalinter
!/googleinput
!/homebrew
!/nvim
!/vim
!/plist
!/resource
!/richgo
!/ripgrep
!/tig
!/tmux
!/userjob
!/vm-sierra
!/zsh
!requirements.txt
