/*

!/.gitignore
!/.richstyle
!/24-bit-color.sh
!/README.md
!/alacritty
!/archlinux-setup-memo.md
!/autokey
!/autorandr
!/autostart
!/bash
!/docker-linux/config.json
!/docker-osx
!/efm-langserver
!/flake8
!/fonts
!/gh
/gh/hosts.yml
!/git
!/gnupg/.gitignore
!/gocode
!/gogh
!/googleinput
!/gordon
!/homebrew
!/iTerm2
!/lazyenv
!/locale.conf
!/mypy
!/nvim
!/pacman
!/plist
!/pycodestyle
!/pyenv
!/ripgrep
!/setup
!/setup_Darwin
!/setup_GNOME
!/setup_Linux
!/setup_pacman
!/setup_vim
!/tig
!/ulauncher
/ulauncher/ext_preferences
!/userjob
!/vim
!/zsh
/zsh/.zcompcache

*.log
/hub
