<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Disabled</key>
    <false/>
  <key>Label</key>
    <string>dev.kyoh86.userjob</string>
  <key>ProgramArguments</key>
    <array>
      <string>/Users/kyoh86/.config/userjob/exec</string>
    </array>
  <key>RunAtLoad</key>
    <true/>
  <key>StartInterval</key>
    <integer>3600</integer>
  <key>ExitTimeout</key>
    <integer>600</integer>
  <key>StandardErrorPath</key>
    <string>/usr/local/var/userjob-err.log</string>
  <key>StandardOutPath</key>
    <string>/usr/local/var/userjob-log.log</string>
  <key>UserName</key>
    <string>kyoh86</string>
</dict>
</plist>
