<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IMUPThemeArtist</key>
	<string>onthehead (lab.3fl.jp)</string>
	<key>IMUPThemeIdentifier</key>
	<string>jp.3fl.imageup.color</string>
	<key>IMUPThemeName</key>
	<string>Color</string>
	<key>IMUPThemePreviewImage</key>
	<string>Preview.png</string>
	<key>IMUPThemeCompatible</key>
	<dict>
		<key>CursorMarker</key>
		<true/>
		<key>ColorBar</key>
		<true/>
		<key>ColorMenuBar</key>
		<true/>
		<key>DockIcon</key>
		<true/>
		<key>StatusIcon</key>
		<true/>
	</dict>
</dict>
</plist>
